.page
  nav
    .back
      a(href='../') ← Back
    .language
      a(href='#en' class='active') English
      i
      a(href='#pt') Português
    
  article
        
    header
      h1 All the Government 
        strong Barbecues
        
    .content
      
      section
        .margin-note-container
          .margin-note.bio
            //- img(src='http://vsueiro.com/sandbox/bbq/rodrigo-menegat.png')
            span Rodrigo Menegat
            time(datetime='2017-09-14') September 14ᵗʰ 2017

          .text
            h2 In the last seven years, Brazilian public funds were used to pay for, on average, two steakhouse dinners every day

            p Since December of 2009, when all the expenses paid  with government-sponsored credit cards were made available online, 4.911 bills were registered on ‘churrascarias’ – the Brazilian barbecue houses, where, usually, an all-you-can-eat selection of fine cuts is served on sword-like skewers.

            p Usually, a meal on a ‘churrascaria’ costs twice or more than in other sort of establishments. On total, around 
              strong R$ 1,2 million
              | – an amount equivalent to US$ 385,000 – was spent on those restaurants.
              
          .margin-note
    
      section
        h2 The higher the flame,
          br
          | the higher the price
        
        p In the chart below, every purchase made in a “churrascaria” is represented by a little dot (
          i(class='dot')
          | ), which gets brighter due to overlapping. We highlighted some specially 
          strong extravagant
          |  dinners, which costed above R$ 6.000 (around US$ 1,900)
        
        figure
          img(src='http://vsueiro.com/sandbox/bbq/barbecues.png')
      
      section
        h2 Most purchases were made by national defense entities
      
        p The greatest part of those expenses came from army personnel and staffers from the Ministry of Defense. Indeed, some of the  restaurants that received the most money are located near highways, which suggests that officials might be going there to eat during duty travels. Nevertheless, there are many examples of extravagant dinners as well.

        p In the most recent case, between July 6 and July 10 of 2017, cardholders from the Ministry of Defense’s administrative office went three times to “Fogo de Chão”, a 
          strong luxurious
          |  steakhouse of worldwide fame located in Brasília, the federal capital. In the sum of those, approximately R$ 8.600 were spent – an amount sufficient for 62 people to enjoy a pricey R$ 120 (US$ 38) dinner.

        p In contrast, the average monthly per-capita income of a Brazilian household in 2016, according to the Brazilian Institute of Geography and Statistics (IBGE), was of R$ 1.226 – seven times less than the amount spent in prime steaks by the officials in those five days alone.
  
        .margin-note-container
          .margin-note
          
          .text
            p Talking about the IBGE, it was responsible for some curious purchases as well: between March 2014 and March 2015, a unit of the institution made thirteen payments to an establishment called 
              strong “Disk-Cerveja”
              |  – a beer&#8209;home delivery hotline.
            
          .margin-note
            i.arrow#beer
            p.takeaway 13 purchases at a beer&#8209;home delivery hotline

        p The government-sponsored credit cards, officially named Federal Government Payment Card (CPFG, in the Portuguese acronym), were originally created to make it easier for public officials to buy supplies in 
          strong exceptional
          |  cases, when submitting the purchases to a board approval process would take an unreasonable amount of time.
      
      section
        h2 Breaking the law

        p Apart from the questionable nature of expenses with luxury dining and booze delivery, staffers of the public sector that made purchases above R$ 8.000 for their agencies possibly broke the Brazilian bidding law.

        p According to it, all the acquisitions that surpass this cap should undergo a full 
          strong bidding process
          | , in which companies would compete to provide the best price.

        p There are a few exceptions, such as purchases made during a state of public calamity and the purchase of artistic goods. 
          strong “Usage material”
          | for the Armed Forces is also among them, in these exact vague terms.
        
        .margin-note-container
          .margin-note
            p.takeaway.to-right Confidential for “security reasons”
            i.arrow#confidential
          
          .text
            p Since 2010, over-the-cap purchases were made 2,297 times – and out of those, 2,277 cases were deemed confidential to 
              strong “ensure the safety of the society and the State”
              | . Of the remaining 20 purchases, 17 came, again, from staffers of the Ministry of Defense. The payments were made in automobile parts and computer applicances stores, supermarkets, an internet provider and hotels.
            
          .margin-note
        
      section
        h2 Purchases that may break law are secret

        p Those questionable expenses can be linked to a broader lack of transparency. Even though all the purchases made with government credit-cards are supposedly available for public scrutiny online, more than 60% those payments are, by all practical means, 
          strong untraceable.

        p This happens because around R$ 220 million were deemed confidential by the government for 
          strong national security
          |  issues.

        figure.confidential
          img(src='http://vsueiro.com/sandbox/bbq/confidential.png')

        p Of that amount, R$ 160 million came from the Federal Police, the Brazilian Intelligence Agency (ABIN), the federal capital security forces, the Army, the Airforce or the tax-collecting agency. The rest comes from the President and Vice-President offices – where expenses are 
          strong 99% and 97% secret
          | , respectively. Apart from that, another R$ 60 million was directly withdrew from ATMs – what makes the destination of the money impossible to follow. Overall, then, around R$ 280 million spent using government-funded credit cards isn’t transparent.
          
        figure.sum
          img(src='http://vsueiro.com/sandbox/bbq/sum.png')
          
    footer
      
      p This story was mined and written by Rodrigo Menegat for the Lede Program at the Columbia University J-School in New York City and voluntarily designed by Vinicius Sueiro from São Paulo, Brazil. Check 
        a(href='https://github.com/RodrigoMenegat/studio-projects' target='_blank') GitHub
        |  for data.